extends ../layouts/default

mixin profile(profile)
  - thisIsMine = (profile.owner.id === user.id)
  .profile(class={"my-profile": thisIsMine})(data-ks-editable=editable(user, { list: 'profile', id: profile.id }))
    .profile-header
      h2: a(href='/profiles/profile/' + profile.slug)= profile.name
      p.lead.text-muted
        if profile.owner
          | Owned by
          //- a(href="/users/#{profile.owner.id}") #{profile.owner.name.full}
          a(href="/users/#{profile.owner.id}") #{thisIsMine ? "You" : profile.owner.name.full}
    .profile-body
      if profile.image.exists
        //- img(src=profile._.image.fit(160,160)).img.pull-right
        img(src=profile._.image.fit(100,100)).img.pull-right
      p!= profile.content.brief
      if profile.content.extended
        p.read-more: a(href='/profiles/profile/' + profile.slug) Read more...

block intro
  .container: .row
    .col-sm-4.col-md-4
      h1= data.category ? data.category.name : 'Profiles'
    .col-sm-3.col-sm-offset-5.col-md-3.col-md-offset-5
      a.btn.btn-primary(href="/profiles/new") Add a profile to the database...

block content
  .container: .row.jumbotron
    .col-sm-8.col-md-9
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.profiles.results.length
          if data.profiles.totalPages > 1
            h4.text-weight-normal Showing
              strong #{data.profiles.first}
              |  to
              strong #{data.profiles.last}
              |  of
              strong #{data.profiles.total}
              |  profiles.
          else
            h4.text-weight-normal Showing #{utils.plural(data.profiles.results.length, '* profile')}.
          .profiles
            - profile_threed = _.chunk(data.profiles.results, 3)
            each profile_threes in profile_threed
              .row
                each profile in profile_threes
                  .col-sm-4.col-md-4
                    +profile(profile)

          if data.profiles.totalPages > 1
            ul.pagination
              if data.profiles.previous
                li: a(href='?page=' + data.profiles.previous): span.glyphicon.glyphicon-chevron-left
              else
                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
              each p, i in data.profiles.pages
                li(class=data.profiles.currentPage == p ? 'active' : null)
                  a(href='?page=' + (p == '...' ? (i ? data.profiles.totalPages : 1) : p ))= p
              if data.profiles.next
                li: a(href='?page=' + data.profiles.next): span.glyphicon.glyphicon-chevron-right
              else
                li.disabled: a(href='?page=' + data.profiles.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
        else
          if data.category
            h3.text-muted There are no profiles in the category #{data.category.name}.
          else
            h3.text-muted There are no profiles yet.
