extends ../layouts/default
include ../mixins/dollHelpers

block content
  .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    article
      p: a(href='/events') &larr; back to event list
      hr
      if !data.event
        h2 Invalid Event.
      else
        header
          h1= data.event.title
          .event_details
            //- .row: .col-sm-4.col-sm-offset-6.col-md-4.col-md-offset-6
            .row: .col-sm-4
              h5 Posted 
                if data.event.publishedDate
                  | on #{data.event._.publishedDate.format('MMMM Do, YYYY')} 
                if data.event.categories && data.event.categories.length
                  | in 
                  each cat, cat_i in data.event.categories
                    a(href='/events/' + cat.key)= cat.name
                    if cat_i < data.event.categories.length - 1
                      | , 
                    else
                      |  
                if data.event.author
                  | by #{data.event.author.name.first}
            //- .same-height
            .row
              .col-sm-2.col-md-2.key.
                When
              //- .col-sm-6.col-md-6.val= data.event.time
              .col-sm-6.col-md-6.val 
                +eventDateFormat(data.event)
            .row
              .col-sm-2.col-md-2.key.
                Where
              //- .col-sm-6.col-md-6.val= +simpleAddressFormat(data.event.place)
              .col-sm-6.col-md-6.val= data.event.placeString
        .event
          if data.event.image.exists
            .image-wrap: img(src=data.event._.image.fit(750,450)).img-responsive
          != data.event.content.full
