mixin eventDateFormat(event)
  //- | #{event.date}: #{event.startTime} - #{event.endTime}
  | #{event._.date.format("dddd, MMMM Do YYYY")}: 
  | #{event._.startTime.format("h:mm a")} -
  | #{event._.endTime.format("h:mm a")}
  //- event.startTime._.format("dddd, MMMM Do YYYY, h:mm:ss a"); // "Sunday, February 14th 2010, 3:25:50 pm"
  //- event.startTime._.format("dddd, MMMM Do YYYY, h:mm:ss a"); // "Sunday, February 14th 2010, 3:25:50 pm"

mixin fullName(name)
  //- name.first + " " + name.last
  | #{name.first} #{name.last}

mixin simpleAddressFormat(location)
  p= location
  //- | #{location.street1} #{location.suburb} #{location.postcode}
  //- .row
  //-   .col-sm-2.col-md-2.
  //-     Address
  //-   //- .col-sm-6.col-md-6.val= data.event.time
  //-   .col-sm-6.col-md-6.val.
  //-     #{location.street1} #{suburb} #{postcode}


mixin navLinks(links)
  each link in links
    if link.dropdowns
      li.dropdown
        //- a.dropdown-toggle(href="#" data-toggle="dropdown")= link.label
        a.dropdown-toggle(href="#" data-toggle="dropdown")
          button.btn.btn-doll.navbar-btn= link.label
        ul.dropdown-menu
          each sublink in link.dropdowns
            li(class=(section == sublink.key ? 'active' : null))
              a.btn.btn-drop.navbar-btn(href=sublink.href)= sublink.label
    else
      li(class=(section == link.key ? 'active' : null))
        //- button.btn.btn-doll.navbar-btn: a(href=link.href)= link.label
        a(href=link.href): button.btn.btn-doll.navbar-btn= link.label

mixin detailList(details)
  dl.detail-list
    each detail in details
      dt= detail.key
      dd= detail.val
    
  
