extends ../../layouts/default

block intro
  .container
    h1 Add a Doll
    
block content
  .container
    if enquirySubmitted
      h3 Thanks for submitting Your Doll!
    else
      .row: .col-sm-8.col-md-6
        form.newDoll(method='post', enctype="multipart/form-data")
          input(type='hidden', name='action', value='/dolls/new')
          //- != Doll.form({ theme: 'bootstrap', fields: 'name, maker, state, image, contents' })
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label Name
            input(type='text', name='name', value=formData['name']).form-control
            //- input(type='text', name='name.full', value=formData['name.full']).form-control
          .form-group(class=validationErrors.maker ? 'has-error' : null)
            label Maker
            select(name='maker').form-control
              option(value='') (select one)
              each type in dolls.makers
                option(value=type, selected=formData.maker == type)= type
          .form-group
            label Sculpt
            input(type='text', name='sculpt', value=formData['sculpt']).form-control
          .form-group(class=validationErrors.image ? 'has-error' : null)
            label Pic 
            input(type='file', name='image_upload', value=formData.image).form-control
          .form-group(class=validationErrors.info_description ? 'has-error' : null)
            label Physical Description 
            textarea(name='info_description', placeholder='Does this doll have any other distinguishing characteristics...' rows=4).form-control= formData.info_description
          .form-group(class=validationErrors.info_biography ? 'has-error' : null)
            label Biography
            textarea(name='info_biography', placeholder='Does this doll have a backstory...' rows=4).form-control= formData.info_biography
          .form-actions
            button(type='submit').btn.btn-primary Send
