extends ../../layouts/default

block intro
  .container
    h1 Register as a New Member
    
block content
  .container
    //- if enquirySubmitted
    //-   h3 Thanks for submitting Your Doll!
    //- else
    .row: .col-sm-8.col-md-6
      form.passport.login(method='post', enctype="multipart/form-data")
        input(type='hidden', name='action', value='/users/login')
        .form-group(class=validationErrors['profile.userName'] ? 'has-error' : null)
          label Screen Name
          input(type='text', name='profile.userName', value=formData['profile.userName']).form-control
        .form-group(class=validationErrors.email ? 'has-error' : null)
          label email
          input(type='text', name='email', value=formData['email']).form-control
        .form-group(class=validationErrors.password ? 'has-error' : null)
          label password
          input(type='text', name='password').form-control
        .form-group
          label First Name
          input(type='text', name='name.first', value=formData['name.first']).form-control
          label Last Name
          input(type='text', name='name.last', value=formData['name.last']).form-control
        .form-actions
          button(type='submit').btn.btn-primary Send
